.about {
    font-family: "Baloo 2", cursive;
    width: 50%;
    background: white;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.26);
    position: fixed;
    z-index: 99; 
    top: 20vh;
    left: 25%;
}

.about-title {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
  } 

.toggle-button {
    outline: none;
    margin-left: 97%;
    margin-top: 5px; 
    display:block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none; 
    background: none;
}

.toggle-button img {
    width : 15px;
    height: 15px;
    margin-left: -10px;
}

.toggle-button img:hover {
    cursor: pointer;
}  

.content {
    max-width: 300px;
    display: inline-block;
    text-align: justify;
    padding: 1rem;
}

.actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
}

.copyright {
    line-height: 0px;
}

.license {
    line-height: 0px;
    margin-top: 50px;
}
