nav {

    justify-content: space-around;
    display: flex;
    align-items: center;
    min-height: 18vh;
    background: black;
    color: white;
}

ul.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    list-style: none;
}

a {
    color:white;
    text-decoration: none;
}
